/* navbar */
.nav-container {
	font-family: 'Dosis', sans-serif;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 25px 0;
}

#search-box {
	width: 594px;
	box-shadow: 0 4px 13px 3px #0000000f;
	height: 53px;
	border: none;
	border-radius: 8px;
	color: #939393;
	font-size: 18px;
	padding-left: 70px;
}

#search-icon {
	position: relative;
	left: 45px;
	width: 21px;
}

#search-divider {
	font-size: 32px;
	margin-bottom: 0;
	position: relative;
	right: 160px;
	color: #d1d1d1;
	font-weight: 200;
}

#search-dropdown {
	position: relative;
	right: 133px;
}

::placeholder {
	color: #939393;
}

.nav-search-type {
	font-size: 18px;
	color: #939393;
}

.nav-title {
	grid-column: 2;
	font-weight: 700;
	font-size: 29px;
}

.nav-search {
	grid-column: 3 / span 6;
}

.nav-links {
	display: flex;
	grid-column: 9 / span 3;
	justify-content: space-between;
}

.nav-links a {
	font-weight: 500;
	font-size: 18px;
	color: #222;
}