/* navbar */
.nav-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 0;
}

.nav-title {
	grid-column: 2;
}

.nav-search {
	grid-column: span 6;
}

.nav-links {
	grid-column: span 3;
}