{% extends 'base.html' %}

{% block content %}
	<div class="image-grid">
    	{% load static %}
    	<img src="{% static 'photos/images/img (1).jpg' %}">
    	<img src="{% static 'photos/images/img (2).jpg' %}">
    	<img src="{% static 'photos/images/img (3).jpg' %}">
    	<img src="{% static 'photos/images/img (4).jpg' %}">
    	<img src="{% static 'photos/images/img (5).jpg' %}">
    	<img src="{% static 'photos/images/img (6).jpg' %}">
    	<img src="{% static 'photos/images/img (7).jpg' %}">
    	<img src="{% static 'photos/images/img (8).jpg' %}">
    	<img src="{% static 'photos/images/img (9).jpg' %}">
    	<img src="{% static 'photos/images/img (10).jpg' %}">
    	<img src="{% static 'photos/images/img (11).jpg' %}">
    	<img src="{% static 'photos/images/img (12).jpg' %}">
    	<img src="{% static 'photos/images/img (13).jpg' %}">
	</div>
{% endblock %}
