<nav class="nav-container navbar navbar-expand-lg navbar-light">
	<!-- Brand Title -->
	<a class="navbar-brand nav-title" href="#">Gallery</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Search Form -->
	<form class="form-inline my-2 my-lg-0 nav-search">
		<!-- search icon -->
		<svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#939393" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>

		<!-- old with form control -->
	  	<!-- <input id="search-box" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
	  	<input id="search-box" class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">

	  	<p id="search-divider">|</p>

	  	<!-- dropdown -->
		<ul id="search-dropdown" class="navbar-nav mr-auto">
			<!-- Dropdown Links -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle nav-search-type" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item nav-search-type" href="#">Location</a>
				</div>
			</li>
		</ul>
	</form>

	<div class="nav-links">
		<!-- Regular Links -->
		<a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
		<a class="nav-link" href="#">Contact</a>
		<a class="nav-link" href="#">Blog</a>
	</div>
</nav>